.vs/Bot/DesignTimeBuild/.dtbcache.v2
.vs/Bot/v16/.suo
bin/Debug/netcoreapp3.1/Bot.deps.json
bin/Debug/netcoreapp3.1/Bot.dll
bin/Debug/netcoreapp3.1/Bot.exe
bin/Debug/netcoreapp3.1/Bot.pdb
bin/Debug/netcoreapp3.1/Bot.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/Bot.runtimeconfig.json
bin/Debug/netcoreapp3.1/Humanizer.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
bin/Debug/netcoreapp3.1/Npgsql.dll
bin/Debug/netcoreapp3.1/Npgsql.EntityFrameworkCore.PostgreSQL.dll
bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
bin/Debug/netcoreapp3.1/System.ComponentModel.Annotations.dll
bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
bin/Debug/netcoreapp3.1/Telegram.Bot.dll
obj/Bot.csproj.nuget.dgspec.json
obj/Bot.csproj.nuget.g.props
obj/Bot.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/apphost.exe
obj/Debug/netcoreapp3.1/Bot.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/Bot.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/Bot.assets.cache
obj/Debug/netcoreapp3.1/Bot.csproj.CopyComplete
obj/Debug/netcoreapp3.1/Bot.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Bot.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Bot.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Bot.dll
obj/Debug/netcoreapp3.1/Bot.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/Bot.pdb
